:root {
  --brownish-grey: #6c6c6c;
  --success-green: #159909;
  --black: #000;
  --lightgrey: #d6d6d6;
  --greywhite: #f8f8f8;
  --error-red: #d01010;
  --brown-grey: #9f9f9f;
  --white: #fff;
  --darkgrey: #333;
  --tog-blue: #161645;
  --stone-background: #e9e9df;
  --highlight-yellow: #f3ff00;
  --tog-blue: #161645;
  --white: #fff;
  --bright-yellow: #f3ff00;
  --white: #fff;
  --black: #000;
  --white: #fff;
  --black: #000;
  --lightgrey: #d6d6d6;
  --bright-yellow: #f3ff00;
  --tog-blue: #161645;
  --black: #000;
  --error-red: #d01010;
  --success-green: #159909;
}